[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

scipy = "*"
numpy = "*"
matplotlib = "*"
setuptools = "*"
tensorflow = "*"
python-speech-features = "*"


[requires]

python_version = "3.6"
